.textuser1score {
  position: absolute;
  top: 141px;
  left: calc(50% + 92px);
  font-weight: 300;
  text-align: center;
  display: -webkit-inline-box;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 25;
  -webkit-box-orient: vertical;
  width: 142px;
}
.imguser1avatarIcon {
  position: absolute;
  top: 53px;
  left: calc(50% + 119px);
  border-radius: var(--br-mini);
  width: 88px;
  height: 88px;
  object-fit: cover;
}
.textuser1,
.textuser1elo {
  position: absolute;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.textuser1elo {
  top: 109px;
  left: calc(50% - 228px);
  font-size: var(--font-size-13xl);
  font-weight: 300;
  -webkit-line-clamp: 25;
  width: 326px;
}
.textuser1 {
  top: 31px;
  left: calc(50% - 372px);
  font-size: var(--font-size-45xl);
  color: var(--inputform);
  -webkit-line-clamp: 70;
  width: 470px;
}
.addfriendbuttontext {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-outfit);
  color: var(--inputform);
  text-align: center;
}
.buttonaddfriend {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  position: absolute;
  top: 121px;
  left: calc(50% - 228px);
  border-radius: var(--br-11xl);
  background: linear-gradient(251.66deg, #3259a7, #3a7dff);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 155px;
  height: 39px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.content1Topuser {
  align-self: stretch;
  position: relative;
  height: 184px;
  z-index: 0;
}
.content2divider {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.chessboardcontainer {
  position: absolute;
  top: 0;
  left: calc(50% - 350px);
  border-radius: var(--br-26xl);
  background: linear-gradient(
    171.83deg,
    rgba(55, 69, 106, 0.36),
    rgba(197, 184, 214, 0.36)
  );
  width: 700px;
  height: 700px;
  overflow: hidden;
}
.content2Chess {
  align-self: stretch;
  position: relative;
  height: 700px;
  z-index: 1;
}
.textuser2score {
  position: absolute;
  top: 115px;
  left: calc(50% + 92px);
  font-weight: 300;
  text-align: center;
  display: -webkit-inline-box;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 25;
  -webkit-box-orient: vertical;
  width: 142px;
}
.imguser2avatarIcon {
  position: absolute;
  top: 27px;
  left: calc(50% + 119px);
  border-radius: var(--br-mini);
  width: 88px;
  height: 88px;
  object-fit: cover;
}
.textuser2,
.textuser2elo {
  position: absolute;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.textuser2elo {
  top: 83px;
  left: calc(50% - 240px);
  font-size: var(--font-size-13xl);
  font-weight: 300;
  -webkit-line-clamp: 25;
  width: 338px;
}
.textuser2 {
  top: 5px;
  left: calc(50% - 620px);
  font-size: var(--font-size-45xl);
  color: var(--inputform);
  -webkit-line-clamp: 70;
  width: 718px;
}
.content3Bottomuser {
  align-self: stretch;
  position: relative;
  height: 184px;
  z-index: 2;
}
.content4divider {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-200);
  height: 408px;
}
.concedebuttontext {
  position: relative;
  font-size: var(--font-size-9xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.buttonconcede,
.buttonleave {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-16xl);
  background-color: var(--miscbutton);
  position: absolute;
  top: 32px;
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 250px;
  height: 55px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.buttonconcede {
  right: 50px;
}
.buttonleave {
  left: 50px;
}
.content4Buttons {
  align-self: stretch;
  position: relative;
  height: 114px;
  z-index: 3;
}
.footerdivider {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  box-shadow: 0-4px 4px rgba(0, 0, 0, 0.45);
  height: 100px;
}
.footerimggithub {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 18px;
  left: calc(50% + 219px);
  width: 64px;
  height: 64px;
  background-image: url(/public/footerimggithub1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footertextcopyright {
  position: absolute;
  top: 64px;
  left: calc(50% - 157px);
  font-weight: 300;
  display: inline-block;
  width: 315px;
  height: 24px;
}
.footerbuttontext {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.footerbuttonback,
.footerimgdiscord {
  cursor: pointer;
  border: 0;
  background-color: var(--miscbutton);
  position: absolute;
}
.footerbuttonback {
  padding: var(--padding-4xs) var(--padding-16xl);
  top: 15px;
  left: calc(50% - 88.5px);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.footerimgdiscord {
  padding: 0;
  top: 18px;
  left: calc(50% - 282px);
  width: 64px;
  height: 64px;
  background-image: url(/public/footerimgdiscord1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footer {
  align-self: stretch;
  position: relative;
  height: 100px;
  z-index: 4;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-silver-100);
}
.navbarbackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-gray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  height: 73px;
}
.menubuttonicon {
  position: absolute;
  height: 60.4%;
  width: 83.34%;
  top: 20.85%;
  right: 8.32%;
  bottom: 18.75%;
  left: 8.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hamburgermenubutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 21px;
  right: 72px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.pageselectlogo {
  position: absolute;
  top: 69px;
  left: 83px;
  background-color: var(--inputform);
  width: 40px;
  height: 4px;
}
.navlogoIcon {
  position: absolute;
  top: 8px;
  left: 71.83px;
  width: 53.89px;
  height: 55.15px;
  object-fit: cover;
  cursor: pointer;
}
.navtablet {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 73px;
  z-index: 5;
}
.gametablet {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  background-image: url(/public/gametablet@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--color-darkgray-100);
  font-family: var(--font-outfit);
}

.chessBoard
{
	width: 700px;
	height: 700px;
	display: flex;
	flex-wrap: wrap;
}

.square
{
	width: 87.5px;
	height: 87.5px;
	z-index: 100;
	position: relative;
}

.svgPiece
{
	width: 76.5625px;
	height: 76.5625px;
	margin: 5.46875px;
	position: relative;
	z-index: -10;
}

.svgPathPiece
{
	position: relative;
	z-index: -11;
}

.piece
{
	position: relative;
	z-index: 10;
}

.uiElement
{
	width: 87.5px;
	height: 87.5px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 11;
}

.enPassant
{
	width: 87.5px;
	height: 87.5px;
	opacity: 1;
	position: relative;
	z-index: 9;
}

.svgCirclePiece
{
	width: 87.5px;
	height: 87.5px;
	opacity: 0.1;
	position: relative;
	z-index: -5;
}

.svgCircleNoPiece
{
	width: 27.34375px;
	height: 27.34375px;
	margin: 30.078125px;
	opacity: 0.1;
	position: relative;
	z-index: -5;
}

.svgPathUiElement
{
	position: relative;
	z-index: -6;
}

.green
{
	background-color: rgb(125,148,93);
}

.tan
{
	background-color: rgb(238,237,213);
}

.grow {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a grow transition over 0.3 seconds. */
}

/* Apply the grow when hovering over this thing. */
.grow:hover {
  transform: scale(1.1); /* Scale up by 1.1 (10% bigger) on hover */
}

.shrink {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a shrink transition over 0.3 seconds. */
}

/* Apply the shrink when hovering over this thing. */
.shrink:hover {
  transform: scale(0.95); /* Scale down by 0.95 (5% smaller) on hover */
}
