.headertextelo,
.headertextusername {
  position: absolute;
  left: calc(50% - 720px);
  display: inline-block;
  width: 1440px;
}
.headertextelo {
  top: 109px;
  font-weight: 300;
  height: 95px;
}
.headertextusername {
  top: 7px;
  font-size: var(--font-size-61xl);
  color: var(--inputform);
  height: 102px;
}
.headerprofileicon {
  position: relative;
  width: 128px;
  height: 128px;
  object-fit: cover;
}
.profilepic {
  position: absolute;
  top: 45px;
  right: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.header {
  align-self: stretch;
  position: relative;
  height: 204px;
  z-index: 0;
  color: var(--color-dimgray);
}
.gohomebuttontext {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.buttongohome,
.content1textuserheader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttongohome {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  top: 410px;
  left: 57px;
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 189px;
  height: 46px;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
}
.content1textuserheader {
  top: 0;
  left: 0;
  width: 468px;
}
.userboxusernamelabel {
  position: relative;
  display: flex;
  align-items: center;
  width: 430px;
}
.userboxinputtext {
  position: relative;
}
.userboxformusername {
  border-radius: var(--br-11xl);
  background-color: var(--inputform);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 362px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
  align-items: flex-start;
  justify-content: center;
}
.userboxeditsavebutton {
  position: relative;
  width: 38px;
  height: 46px;
}
.userboxusernameform {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-3xl);
  color: var(--color-silver-300);
}
.buttonlogout {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-16xl);
  background-color: var(--miscbutton);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 171px;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.content1userbox,
.userboxbuttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.userboxbuttons {
  width: 412px;
  flex-direction: row;
}
.content1userbox {
  position: absolute;
  top: 78px;
  left: 0;
  border-radius: var(--br-16xl);
  background: linear-gradient(
    173.42deg,
    rgba(189, 189, 189, 0.6),
    rgba(49, 49, 49, 0.4)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  height: 285px;
  overflow-y: auto;
  flex-direction: column;
  padding: var(--padding-base) 0 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  text-align: left;
  font-size: var(--font-size-21xl);
}
.userbox {
  position: absolute;
  top: 20px;
  right: 54px;
  width: 468px;
  height: 363px;
}
.actionsaddfriendtext {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-outfit);
  color: var(--inputform);
  text-align: center;
}
.actionsbuttonaddfriend,
.actionsbuttonunfriend {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-16xl);
  background-color: var(--miscbutton);
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 222px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.actionsbuttonaddfriend {
  background: linear-gradient(-79.51deg, #33b249, #5dbea3);
}
.actionsbuttonunfriend {
  background: linear-gradient(247.11deg, #565656, #323232);
}
.content1actionsbox,
.content1textactionsheader {
  position: absolute;
  left: calc(50% - 142.5px);
  display: flex;
  align-items: center;
  width: 285px;
}
.content1actionsbox {
  top: 76px;
  border-radius: var(--br-16xl);
  background: linear-gradient(
    173.42deg,
    rgba(189, 189, 189, 0.6),
    rgba(49, 49, 49, 0.4)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  height: 285px;
  overflow-y: auto;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-13xl) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.content1textactionsheader {
  top: 0;
  justify-content: center;
}
.actions {
  position: absolute;
  top: 20px;
  left: calc(50% - 143px);
  width: 285px;
  height: 361px;
}
.statswins {
  position: relative;
  display: flex;
  align-items: center;
  width: 436px;
}
.content1statsgamesbox {
  position: absolute;
  top: 76px;
  left: 0;
  border-radius: var(--br-16xl);
  background: linear-gradient(
    173.42deg,
    rgba(189, 189, 189, 0.6),
    rgba(49, 49, 49, 0.4)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  height: 285px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.content1textstatsgamesheader {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 468px;
}
.statisticsgames {
  position: absolute;
  top: 20px;
  left: 57px;
  width: 468px;
  height: 361px;
  text-align: left;
  font-size: var(--font-size-21xl);
}
.content1,
.content2 {
  align-self: stretch;
  position: relative;
}
.content1 {
  background: linear-gradient(153.16deg, #37456a, #c5b8d6);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.45);
  height: 482px;
  z-index: 1;
}
.content2 {
  background-color: var(--color-gray-200);
  height: 408px;
  z-index: 2;
}
.footerimggithub {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 15px;
  left: calc(50% + 231px);
  width: 70px;
  height: 70px;
  background-image: url(/public/footerimggithub2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footertextcopyright {
  position: absolute;
  top: 69px;
  left: calc(50% - 155px);
  font-weight: 300;
  display: inline-block;
  width: 315px;
  height: 24px;
}
.footerbuttonback,
.footerimgdiscord {
  cursor: pointer;
  border: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 15px;
}
.footerbuttonback {
  padding: var(--padding-4xs) var(--padding-16xl);
  left: calc(50% - 97.5px);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  height: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.footerimgdiscord {
  padding: 0;
  left: calc(50% - 298px);
  width: 70px;
  height: 70px;
  background-image: url(/public/footerimgdiscord2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footer,
.navbarbackground {
  background-color: var(--color-gray-100);
}
.footer {
  align-self: stretch;
  position: relative;
  box-shadow: 0-4px 4px rgba(0, 0, 0, 0.45);
  height: 100px;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.navbarbackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  height: 73px;
}
.navprofilepicIcon {
  position: absolute;
  top: 5px;
  right: 0;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  object-fit: cover;
}
.navelo,
.navusername {
  position: absolute;
  top: 28px;
  right: 65px;
}
.navusername {
  top: 0;
}
.navabout:hover,
.navcontact:hover,
.navhow:hover,
.navusername:hover {
  color: var(--color-lightsteelblue);
}
.navprofilecorner {
  position: absolute;
  top: 9px;
  right: 25px;
  width: 169px;
  height: 56px;
  cursor: pointer;
  text-align: right;
}
.navcontact,
.pageselectcontact {
  position: absolute;
  left: 456px;
  width: 111px;
}
.pageselectcontact {
  top: 69px;
  background-color: var(--inputform);
  height: 4px;
}
.navcontact {
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navhow,
.pageselecthow {
  position: absolute;
  left: 286px;
  width: 120px;
}
.pageselecthow {
  top: 69px;
  background-color: var(--inputform);
  height: 4px;
}
.navhow {
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navabout,
.pageselectabout {
  position: absolute;
  left: 173px;
  width: 63px;
}
.pageselectabout {
  top: 69px;
  background-color: var(--inputform);
  height: 4px;
}
.navabout {
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pageselectlogo {
  position: absolute;
  top: 69px;
  left: 81px;
  background-color: var(--inputform);
  width: 42px;
  height: 4px;
}
.navlogoIcon {
  position: absolute;
  top: 8px;
  left: 71.83px;
  width: 53.89px;
  height: 55.15px;
  object-fit: cover;
  cursor: pointer;
}
.navbar,
.navcomputersi {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 73px;
}
.navcomputersi {
  margin: 0 !important;
  z-index: 4;
  font-size: var(--font-size-3xl);
}
.profilecomputer {
  position: relative;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  background-image: url(/public/profilecomputer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--inputform);
  font-family: var(--font-outfit);
}
.grow {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a grow transition over 0.3 seconds. */
}

/* Apply the grow when hovering over this thing. */
.grow:hover {
  transform: scale(1.1); /* Scale up by 1.1 (10% bigger) on hover */
}

.shrink {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a shrink transition over 0.3 seconds. */
}

/* Apply the shrink when hovering over this thing. */
.shrink:hover {
  transform: scale(0.95); /* Scale down by 0.95 (5% smaller) on hover */
}
