.headertextelo,
.headertextusername {
  position: absolute;
  left: calc(50% - 372px);
  display: inline-block;
  width: 744px;
}
.headertextelo {
  top: 89px;
  font-weight: 300;
  height: 95px;
}
.headertextusername {
  top: 10px;
  font-size: var(--font-size-41xl);
  color: var(--inputform);
  height: 102px;
}
.profilepicIcon {
  position: absolute;
  top: 53px;
  right: 97px;
  width: 76px;
  height: 76px;
  object-fit: cover;
}
.header {
  align-self: stretch;
  position: relative;
  height: 193px;
  z-index: 0;
}
.gohomebuttontext {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.buttongohome {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  position: absolute;
  top: 345px;
  left: 25px;
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 172px;
  height: 38px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.userboxusernamelabel {
  position: relative;
  display: flex;
  align-items: center;
  width: 191px;
}
.userboxinputtext {
  position: relative;
}
.userboxformusername {
  border-radius: var(--br-11xl);
  background-color: var(--inputform);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 170px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-4xs) var(--padding-4xs);
  align-items: flex-start;
  justify-content: center;
}
.userboxeditsavebutton {
  position: relative;
  width: 24px;
  height: 29px;
}
.userboxusernameform {
  width: 198px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-9xs);
  font-size: var(--font-size-sm);
  color: var(--color-silver-300);
}
.buttonlogout {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 4px;
  background-color: var(--miscbutton);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 124px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.content1userbox,
.userboxbuttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.userboxbuttons {
  width: 191px;
  flex-direction: row;
  flex-wrap: wrap;
}
.content1userbox {
  position: absolute;
  top: 66px;
  right: 0;
  border-radius: var(--br-16xl);
  background: linear-gradient(
    173.42deg,
    rgba(189, 189, 189, 0.6),
    rgba(49, 49, 49, 0.4)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  height: 240px;
  overflow-y: auto;
  flex-direction: column;
  padding: var(--padding-base) 8px 0 var(--padding-4xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.content1textuserheader {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: var(--font-size-21xl);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 223px;
}
.userbox {
  position: absolute;
  top: 20px;
  right: 26px;
  width: 223px;
  height: 306px;
}
.actionsaddfriendtext {
  position: relative;
  font-size: var(--font-size-xl);
  display: flex;
  font-family: var(--font-outfit);
  color: var(--inputform);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 120px;
}
.actionsbuttonaddfriend {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-16xl);
  background-color: var(--miscbutton);
  border-radius: var(--br-11xl);
  background: linear-gradient(-79.51deg, #33b249, #5dbea3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 177px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
}
.actionsbuttonaddfriend,
.actionsbuttonunfriend,
.buttoncanceltext {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttoncanceltext {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
  width: 118px;
}
.actionsbuttonunfriend {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-16xl);
  background-color: var(--miscbutton);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 177px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
}
.content1actionsbox,
.content1textactionsheader {
  position: absolute;
  display: flex;
  align-items: center;
}
.content1actionsbox {
  top: 64px;
  left: calc(50% - 104.5px);
  border-radius: var(--br-16xl);
  background: linear-gradient(
    173.42deg,
    rgba(189, 189, 189, 0.6),
    rgba(49, 49, 49, 0.4)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  height: 240px;
  overflow-y: auto;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base) 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.content1textactionsheader {
  top: 5px;
  left: calc(50% - 111.5px);
  justify-content: center;
  width: 223px;
}
.actions {
  position: absolute;
  top: 20px;
  left: calc(50% - 112px);
  width: 223px;
  height: 304px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.content1statsgamesbox {
  position: absolute;
  top: 64px;
  left: 0;
  border-radius: var(--br-16xl);
  background: linear-gradient(
    173.42deg,
    rgba(189, 189, 189, 0.6),
    rgba(49, 49, 49, 0.4)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  height: 240px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0 0 var(--padding-3xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.content1textstatsgamesheader {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: var(--font-size-21xl);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 223px;
}
.statisticsgames {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 223px;
  height: 304px;
}
.content1,
.content2 {
  align-self: stretch;
  position: relative;
}
.content1 {
  background: linear-gradient(153.16deg, #37456a, #c5b8d6);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.45);
  height: 400px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--inputform);
}
.content2 {
  background-color: var(--color-gray-200);
  height: 250px;
  z-index: 2;
}
.footerimggithub {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 18px;
  left: calc(50% + 219px);
  width: 64px;
  height: 64px;
  background-image: url(/public/footerimggithub1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footertextcopyright {
  position: absolute;
  top: 64px;
  left: calc(50% - 157px);
  font-weight: 300;
  display: inline-block;
  width: 315px;
  height: 24px;
}
.footerbuttonback,
.footerimgdiscord {
  cursor: pointer;
  border: 0;
  background-color: var(--miscbutton);
  position: absolute;
}
.footerbuttonback {
  padding: var(--padding-4xs) var(--padding-16xl);
  top: 15px;
  left: calc(50% - 88.5px);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.footerimgdiscord {
  padding: 0;
  top: 18px;
  left: calc(50% - 282px);
  width: 64px;
  height: 64px;
  background-image: url(/public/footerimgdiscord1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footer,
.navbarbackground {
  background-color: var(--color-gray-100);
}
.footer {
  align-self: stretch;
  position: relative;
  box-shadow: 0-4px 4px rgba(0, 0, 0, 0.45);
  height: 100px;
  z-index: 3;
  font-size: var(--font-size-sm);
  color: var(--color-silver-100);
}
.navbarbackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  height: 73px;
}
.menubuttonicon {
  position: absolute;
  height: 60.4%;
  width: 83.34%;
  top: 20.85%;
  right: 8.32%;
  bottom: 18.75%;
  left: 8.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hamburgermenubutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 21px;
  right: 72px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.pageselectlogo {
  position: absolute;
  top: 69px;
  left: 83px;
  background-color: var(--inputform);
  width: 40px;
  height: 4px;
}
.navlogoIcon {
  position: absolute;
  top: 8px;
  left: 71.83px;
  width: 53.89px;
  height: 55.15px;
  object-fit: cover;
  cursor: pointer;
}
.navtablet {
  position: absolute;
  margin: 0 !important;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 73px;
  z-index: 4;
}
.profiletablet {
  position: relative;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  background-image: url(/public/profiletablet@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-dimgray);
  font-family: var(--font-outfit);
}
.grow {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a grow transition over 0.3 seconds. */
}

/* Apply the grow when hovering over this thing. */
.grow:hover {
  transform: scale(1.1); /* Scale up by 1.1 (10% bigger) on hover */
}

.shrink {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a shrink transition over 0.3 seconds. */
}

/* Apply the shrink when hovering over this thing. */
.shrink:hover {
  transform: scale(0.95); /* Scale down by 0.95 (5% smaller) on hover */
}
