.headertexttitle {
  position: absolute;
  top: 0;
  left: calc(50% - 662px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1325px;
}
.header {
  align-self: stretch;
  position: relative;
  height: 161px;
  z-index: 0;
  font-size: var(--font-size-109xl);
}
.content1buttontext {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-outfit);
  color: var(--inputform);
  text-align: center;
}
.content1buttonresetpassword {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-16xl);
  background-color: var(--miscbutton);
  position: absolute;
  top: 204px;
  left: calc(50% - 8px);
  border-radius: var(--br-11xl);
  background: linear-gradient(251.66deg, #3259a7, #3a7dff);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content1buttontext1 {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.content1buttoncancel,
.inputformconfirmpassword {
  position: absolute;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content1buttoncancel {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  top: 204px;
  left: calc(50% - 249px);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 203px;
}
.inputformconfirmpassword {
  border: 2px solid var(--color-red);
  font-family: var(--font-outfit);
  font-size: var(--font-size-3xl);
  background-color: var(--inputform);
  top: 130px;
  left: calc(50% + 122px);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  width: 283px;
  padding: var(--padding-4xs) var(--padding-16xl);
}
.imghideconfirmpassword {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 135px;
  left: calc(50% + 357px);
  width: 40px;
  height: 40px;
  background-image: url(/public/popupimghideconfirmpassword@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.inputformpassword,
.textlabelconfirmpassword {
  position: absolute;
  top: 97px;
  left: calc(50% + 146px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
}
.inputformpassword {
  border: 2px solid var(--color-red);
  font-family: var(--font-outfit);
  font-size: var(--font-size-3xl);
  background-color: var(--inputform);
  top: 43px;
  left: calc(50% + 123px);
  border-radius: var(--br-11xl);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 283px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
}
.imghidepassword {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 47px;
  left: calc(50% + 357px);
  width: 40px;
  height: 40px;
  background-image: url(/public/popupimghideconfirmpassword@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.textlabelpassword {
  position: absolute;
  top: 10px;
  left: calc(50% + 147px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
}
.content1textinstructions {
  position: absolute;
  top: 15px;
  left: calc(50% - 405px);
  font-size: var(--font-size-13xl);
  font-weight: 300;
  color: var(--color-darkgray-200);
  display: inline-block;
  width: 483px;
  height: 163px;
}
.content1,
.content2 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gray-200);
  height: 408px;
  z-index: 1;
}
.content2 {
  height: 204px;
  z-index: 2;
}
.footerimggithub {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 15px;
  left: calc(50% + 231px);
  width: 70px;
  height: 70px;
  background-image: url(/public/footerimggithub2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footertextcopyright {
  position: absolute;
  top: 69px;
  left: calc(50% - 155px);
  font-weight: 300;
  display: inline-block;
  width: 315px;
  height: 24px;
}
.footerbuttontext {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.footerbuttonback,
.footerimgdiscord {
  cursor: pointer;
  border: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 15px;
}
.footerbuttonback {
  padding: var(--padding-4xs) var(--padding-16xl);
  left: calc(50% - 97.5px);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  height: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.footerimgdiscord {
  padding: 0;
  left: calc(50% - 298px);
  width: 70px;
  height: 70px;
  background-image: url(/public/footerimgdiscord2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footer,
.navbarbackground {
  background-color: var(--color-gray-100);
}
.footer {
  align-self: stretch;
  position: relative;
  box-shadow: 0-4px 4px rgba(0, 0, 0, 0.45);
  height: 100px;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.navbarbackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  height: 73px;
}
.navplaytext {
  position: relative;
  font-size: var(--font-size-3xl);
  display: flex;
  font-family: var(--font-outfit);
  color: var(--inputform);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 101px;
}
.navbuttonplay {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-16xl);
  background-color: var(--miscbutton);
  position: absolute;
  top: 18px;
  right: 78px;
  border-radius: var(--br-11xl);
  background: linear-gradient(-79.51deg, #33b249, #5dbea3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 138px;
  height: 37px;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
}
.navbuttonplay,
.navbuttonsign,
.navsigntext {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navsigntext {
  position: relative;
  font-size: var(--font-size-3xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
  width: 77px;
}
.navbuttonsign {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-16xl);
  background-color: var(--miscbutton);
  position: absolute;
  top: 18px;
  right: 249px;
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 138px;
  height: 37px;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
}
.navcontact,
.pageselectcontact {
  position: absolute;
  left: 456px;
  width: 111px;
}
.pageselectcontact {
  top: 69px;
  background-color: var(--inputform);
  height: 4px;
}
.navcontact {
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navabout:hover,
.navcontact:hover,
.navhow:hover {
  color: var(--color-lightsteelblue);
}
.navhow,
.pageselecthow {
  position: absolute;
  left: 286px;
  width: 120px;
}
.pageselecthow {
  top: 69px;
  background-color: var(--inputform);
  height: 4px;
}
.navhow {
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navabout,
.pageselectabout {
  position: absolute;
  left: 173px;
  width: 63px;
}
.pageselectabout {
  top: 69px;
  background-color: var(--inputform);
  height: 4px;
}
.navabout {
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pageselectlogo {
  position: absolute;
  top: 69px;
  left: 81px;
  background-color: var(--inputform);
  width: 42px;
  height: 4px;
}
.navlogoIcon {
  position: absolute;
  top: 8px;
  left: 71.83px;
  width: 53.89px;
  height: 55.15px;
  object-fit: cover;
  cursor: pointer;
}
.navcomputerso {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 1440px;
  height: 73px;
  z-index: 4;
}
.resetpasswordcomputer {
  position: relative;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  background-image: url(/public/resetpasswordcomputer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--inputform);
  font-family: var(--font-outfit);
}
.grow {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a grow transition over 0.3 seconds. */
}

/* Apply the grow when hovering over this thing. */
.grow:hover {
  transform: scale(1.1); /* Scale up by 1.1 (10% bigger) on hover */
}

.shrink {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a shrink transition over 0.3 seconds. */
}

/* Apply the shrink when hovering over this thing. */
.shrink:hover {
  transform: scale(0.95); /* Scale down by 0.95 (5% smaller) on hover */
}
