.headertextnumusers,
.headertextusers {
  position: absolute;
  left: calc(50% - 720px);
  display: inline-block;
  width: 1440px;
}
.headertextnumusers {
  top: 109px;
  font-weight: 300;
  height: 95px;
}
.headertextusers {
  top: 7px;
  font-size: var(--font-size-61xl);
  color: var(--inputform);
  height: 102px;
}
.header {
  align-self: stretch;
  position: relative;
  height: 204px;
  z-index: 0;
  color: var(--color-dimgray);
}
.textnoresultsfound {
  position: absolute;
  top: 138px;
  left: calc(50% - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 316px;
}
.findfriendbuttontext {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-outfit);
  color: var(--inputform);
  text-align: center;
}
.buttonfindfriend {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  position: absolute;
  top: 54px;
  right: 72px;
  border-radius: var(--br-11xl);
  background: linear-gradient(251.66deg, #3259a7, #3a7dff);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 261px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.labelfindfriendbutton {
  position: absolute;
  top: 5px;
  right: 55px;
  font-weight: 300;
}
.formsearch {
  border: 2px solid var(--color-black);
  font-family: var(--font-outfit);
  font-size: var(--font-size-9xl);
  background-color: var(--inputform);
  border-radius: var(--br-11xl);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 406px;
  height: 59px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
  align-items: flex-start;
  justify-content: center;
}
.formsearchbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: relative;
  width: 58px;
  height: 58px;
  background-image: url(/public/formsearchbutton2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.labelformsearch,
.searchcontainer {
  position: absolute;
  left: calc(50% - 207px);
  display: flex;
  justify-content: center;
}
.searchcontainer {
  top: 53px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-11xs);
}
.labelformsearch {
  top: 5px;
  font-weight: 300;
  align-items: center;
  width: 406px;
}
.returnhomebuttontext {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.buttonreturnhome {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  position: absolute;
  top: 54px;
  left: 72px;
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 261px;
  height: 58px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.content1 {
  align-self: stretch;
  position: relative;
  height: 184px;
  overflow-y: auto;
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--font-size-13xl);
}
.cardavatar {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: relative;
  border-radius: var(--br-mini);
  width: 70px;
  height: 70px;
  background-image: url(/public/cardavatar1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.cardelo,
.cardusername {
  position: relative;
  align-items: center;
  width: 259px;
}
.cardusername {
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 33;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.cardusername:hover,
.navabout:hover,
.navcontact:hover,
.navhow:hover,
.navusername:hover {
  color: var(--color-lightsteelblue);
}
.cardelo {
  font-size: var(--font-size-5xl);
  font-weight: 300;
  color: var(--color-darkgray-100);
  display: flex;
  height: 28px;
  flex-shrink: 0;
}
.cardtext,
.carduserinfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cardtext {
  width: 233px;
  height: 70px;
  flex-direction: column;
}
.carduserinfo {
  height: 80px;
  flex-direction: row;
  gap: var(--gap-smi);
}
.actionsaddfriendtext {
  position: relative;
  font-size: var(--font-size-lg);
  display: flex;
  font-family: var(--font-outfit);
  color: var(--inputform);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 120px;
}
.cardbuttonaddfriend,
.cardbuttonplaygame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-16xl);
  background-color: var(--miscbutton);
  border-radius: var(--br-11xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 152px;
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.cardbuttonaddfriend {
  background: linear-gradient(251.66deg, #3259a7, #3a7dff);
}
.cardbuttonplaygame {
  background: linear-gradient(-79.51deg, #33b249, #5dbea3);
}
.cardbuttons,
.carduser {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
}
.carduser {
  border-radius: var(--br-36xl);
  background: linear-gradient(
    171.83deg,
    rgba(55, 69, 106, 0.36),
    rgba(197, 184, 214, 0.36)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  border: 2px solid var(--color-thistle);
  box-sizing: border-box;
  height: 168px;
  overflow-y: auto;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-13xl) 0 var(--padding-23xl);
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.buttonunfriendtext {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.cardbuttonunfriend,
.content2 {
  display: flex;
  justify-content: center;
}
.cardbuttonunfriend {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-16xl);
  background-color: var(--miscbutton);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 152px;
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.content2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-3xs) 0;
  align-items: flex-start;
  gap: var(--gap-13xl);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.content3 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gray-200);
  height: 408px;
  z-index: 3;
}
.footerimggithub {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 15px;
  left: calc(50% + 231px);
  width: 70px;
  height: 70px;
  background-image: url(/public/footerimggithub2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footertextcopyright {
  position: absolute;
  top: 69px;
  left: calc(50% - 155px);
  font-weight: 300;
  display: inline-block;
  width: 315px;
  height: 24px;
}
.footerbuttontext {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.footerbuttonback,
.footerimgdiscord {
  cursor: pointer;
  border: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 15px;
}
.footerbuttonback {
  padding: var(--padding-4xs) var(--padding-16xl);
  left: calc(50% - 97.5px);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  height: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.footerimgdiscord {
  padding: 0;
  left: calc(50% - 298px);
  width: 70px;
  height: 70px;
  background-image: url(/public/footerimgdiscord2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.footer,
.navbarbackground {
  background-color: var(--color-gray-100);
}
.footer {
  align-self: stretch;
  position: relative;
  box-shadow: 0-4px 4px rgba(0, 0, 0, 0.45);
  height: 100px;
  z-index: 4;
  font-size: var(--font-size-base);
  color: var(--color-silver-100);
}
.navbarbackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  height: 73px;
}
.navprofilepicIcon {
  position: absolute;
  top: 5px;
  right: 0;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  object-fit: cover;
}
.navelo,
.navusername {
  position: absolute;
  top: 28px;
  right: 65px;
}
.navusername {
  top: 0;
}
.navprofilecorner {
  position: absolute;
  top: 9px;
  right: 25px;
  width: 169px;
  height: 56px;
  cursor: pointer;
  text-align: right;
}
.navcontact,
.pageselectcontact {
  position: absolute;
  left: 456px;
  width: 111px;
}
.pageselectcontact {
  top: 69px;
  background-color: var(--inputform);
  height: 4px;
}
.navcontact {
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navhow,
.pageselecthow {
  position: absolute;
  left: 286px;
  width: 120px;
}
.pageselecthow {
  top: 69px;
  background-color: var(--inputform);
  height: 4px;
}
.navhow {
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navabout,
.pageselectabout {
  position: absolute;
  left: 173px;
  width: 63px;
}
.pageselectabout {
  top: 69px;
  background-color: var(--inputform);
  height: 4px;
}
.navabout {
  top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pageselectlogo {
  position: absolute;
  top: 69px;
  left: 81px;
  background-color: var(--inputform);
  width: 42px;
  height: 4px;
}
.navlogoIcon {
  position: absolute;
  top: 8px;
  left: 71.83px;
  width: 53.89px;
  height: 55.15px;
  object-fit: cover;
  cursor: pointer;
}
.navbar,
.navcomputersi {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 73px;
}
.navcomputersi {
  margin: 0 !important;
  z-index: 5;
  font-size: var(--font-size-3xl);
}
.usersearchcomputer {
  position: relative;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-54xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  background-image: url(/public/friendsearchcomputer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--inputform);
  font-family: var(--font-outfit);
}
.grow {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a grow transition over 0.3 seconds. */
}

/* Apply the grow when hovering over this thing. */
.grow:hover {
  transform: scale(1.1); /* Scale up by 1.1 (10% bigger) on hover */
}

.shrink {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a shrink transition over 0.3 seconds. */
}

/* Apply the shrink when hovering over this thing. */
.shrink:hover {
  transform: scale(0.95); /* Scale down by 0.95 (5% smaller) on hover */
}
