.popuptextnoworries,
.popuptexttitleforgot {
  position: absolute;
  top: 71px;
  left: calc(50% - 110.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
}
.popuptexttitleforgot {
  top: 0;
  left: calc(50% - 260.5px);
  font-size: var(--font-size-37xl);
  width: 521px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
.popupheader {
  position: relative;
  width: 505px;
  height: 116px;
  z-index: 0;
}
.popupimgclosebutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  margin: 0 !important;
  top: 8px;
  right: 31px;
  width: 58px;
  height: 58px;
  background-image: url(/public/popupimgclosebutton7@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.alerts {
  color: var(--color-palegreen);
}
.popuptexterrorsTxt {
  line-break: anywhere;
  width: 100%;
}
.popuptexterrors,
.popuptextinstructions {
  position: absolute;
  top: 84px;
  left: calc(50% - 265.5px);
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 531px;
}
.popuptextinstructions {
  top: 0;
  left: calc(50% - 199.5px);
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--inputform);
  justify-content: center;
  width: 400px;
}
.popupinformation {
  position: relative;
  width: 531px;
  height: 119px;
  z-index: 2;
  font-size: var(--font-size-9xl);
  color: var(--color-salmon);
}
.popupinputformemailforgot,
.popuptextlabelemailforgot {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupinputformemailforgot {
  border: 2px solid var(--color-red);
  font-family: var(--font-outfit);
  font-size: var(--font-size-3xl);
  background-color: var(--inputform);
  top: 0;
  left: calc(50% - 28.5px);
  border-radius: var(--br-11xl);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 293px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
}
.popuptextlabelemailforgot {
  top: 9px;
  left: calc(50% - 259.5px);
  width: 222px;
}
.popupforms {
  position: relative;
  width: 543px;
  height: 46px;
  z-index: 3;
  font-size: var(--font-size-3xl);
}
.popupbuttongobacktext {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.popupbuttonforgotback {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #565656, #323232);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 236px;
  height: 69px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.popupbuttonsendemailtext {
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-outfit);
  color: var(--inputform);
  text-align: center;
}
.popupbuttonforgotsend {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  border-radius: var(--br-11xl);
  background: linear-gradient(-79.51deg, #33b249, #5dbea3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 236px;
  height: 69px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
}
.popupbuttonforgotsend,
.popupforgotbuttons,
.popupforgotlarge {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupforgotbuttons {
  width: 543px;
  flex-direction: row;
  gap: var(--gap-15xl);
  z-index: 4;
}
.popupforgotlarge {
  position: relative;
  border-radius: var(--br-81xl);
  width: 565px;
  height: 515px;
  flex-direction: column;
  padding: var(--padding-26xl) 0;
  box-sizing: border-box;
  gap: var(--gap-6xl);
  background-image: url(/public/popupforgotlarge@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--inputform);
  font-family: var(--font-outfit);
}
.grow {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a grow transition over 0.3 seconds. */
}

/* Apply the grow when hovering over this thing. */
.grow:hover {
  transform: scale(1.1); /* Scale up by 1.1 (10% bigger) on hover */
}

.shrink {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a shrink transition over 0.3 seconds. */
}

/* Apply the shrink when hovering over this thing. */
.shrink:hover {
  transform: scale(0.95); /* Scale down by 0.95 (5% smaller) on hover */
}
