.popupswapbackground {
  position: absolute;
  top: -4px;
  left: calc(50% - 101px);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #525252, #393939);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 201px;
  height: 30px;
  overflow: hidden;
}
.buttoncanceltext {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.buttoncanceltext:hover {
  color: var(--color-lightsteelblue);
}
.popupswapbuttonlogin {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  position: absolute;
  top: -4px;
  left: calc(50% - 101px);
  border-radius: var(--br-11xl);
  width: 101px;
  height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.buttonsubmittext {
  position: relative;
}
.popupswapbuttonsignup {
  position: absolute;
  top: -4px;
  left: calc(50% - 0px);
  border-radius: var(--br-11xl);
  background: linear-gradient(-79.51deg, #33b249, #5dbea3);
  width: 100px;
  height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-8xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.popupswap {
  position: relative;
  width: 259px;
  height: 84px;
  z-index: 0;
}
.popupimgclosebutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  margin: 0 !important;
  top: 10px;
  right: 30px;
  width: 41px;
  height: 41px;
  background-image: url(/public/popupimgclosebutton4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.alerts {
  color: var(--color-palegreen);
}
.popuptexterrorsTxt {
  line-break: anywhere;
  width: 100%;
}
.popuptexterrors,
.popuptexttitlesignup {
  position: absolute;
  display: flex;
  align-items: center;
}
.popuptexterrors {
  top: 2px;
  left: calc(50% - 149px);
  font-weight: 500;
  width: 297px;
  height: 53px;
}
.popuptexttitlesignup {
  top: -58px;
  left: calc(50% - 140px);
  font-size: var(--font-size-29xl);
  color: var(--inputform);
  justify-content: center;
  width: 280px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
.popupheader {
  position: relative;
  width: 294px;
  height: 55px;
  z-index: 2;
  font-size: var(--font-size-xl);
  color: var(--color-salmon);
}
.popupinputformconfirmpassword {
  border: 2px solid var(--color-red);
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  background-color: var(--inputform);
  position: absolute;
  top: 294px;
  left: calc(50% - 142px);
  border-radius: var(--br-11xl);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 283px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
  align-items: center;
  justify-content: center;
}
.popupimghideconfirmpassword {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 297px;
  left: calc(50% + 93px);
  width: 40px;
  height: 40px;
  background-image: url(/public/popupimghideconfirmpassword@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.popupinputformpassword,
.popuptextlabelconfirmpassword {
  position: absolute;
  top: 261px;
  left: calc(50% - 118px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
}
.popupinputformpassword {
  border: 2px solid var(--color-red);
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  background-color: var(--inputform);
  top: 207px;
  left: calc(50% - 141px);
  border-radius: var(--br-11xl);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 283px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
}
.popupimghidepassword {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 211px;
  left: calc(50% + 93px);
  width: 39px;
  height: 39px;
  background-image: url(/public/popupimghidepassword2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.popupinputformemail,
.popuptextlabelpassword {
  position: absolute;
  top: 174px;
  left: calc(50% - 117px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
}
.popupinputformemail {
  border: 2px solid var(--color-red);
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  background-color: var(--inputform);
  top: 120px;
  left: calc(50% - 141px);
  border-radius: var(--br-11xl);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 283px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
}
.popuptextlabelemail {
  top: 87.5px;
  left: calc(50% - 151px);
  width: 302px;
}
.popupinputformnewusername,
.popuptextlabelemail,
.popuptextlabelnewusername {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupinputformnewusername {
  border: 2px solid var(--color-red);
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  background-color: var(--inputform);
  top: 33px;
  left: calc(50% - 141px);
  border-radius: var(--br-11xl);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 283px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
}
.popuptextlabelnewusername {
  top: 0.5px;
  left: calc(50% - 151px);
  width: 302px;
}
.popupbuttonsignuptext {
  position: relative;
  font-size: var(--font-size-9xl);
  font-family: var(--font-outfit);
  color: var(--inputform);
  text-align: center;
}
.popupbuttonsignup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  position: absolute;
  top: 348.5px;
  left: calc(50% - 79px);
  border-radius: var(--br-11xl);
  background: linear-gradient(-79.51deg, #33b249, #5dbea3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 158px;
  height: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.popupforms {
  position: relative;
  width: 284px;
  height: 362px;
  z-index: 3;
  font-size: var(--font-size-3xl);
}
.popupsignupsmall {
  position: relative;
  border-radius: var(--br-81xl);
  width: 310px;
  height: 643px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-24xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: url(/public/popupsignupsmall@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--inputform);
  font-family: var(--font-outfit);
}
.grow {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a grow transition over 0.3 seconds. */
}

/* Apply the grow when hovering over this thing. */
.grow:hover {
  transform: scale(1.1); /* Scale up by 1.1 (10% bigger) on hover */
}

.shrink {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a shrink transition over 0.3 seconds. */
}

/* Apply the shrink when hovering over this thing. */
.shrink:hover {
  transform: scale(0.95); /* Scale down by 0.95 (5% smaller) on hover */
}
