.popupswapbackground {
  position: absolute;
  top: -9px;
  left: calc(50% - 101px);
  border-radius: var(--br-11xl);
  background: linear-gradient(247.11deg, #525252, #393939);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: 201px;
  height: 30px;
  overflow: hidden;
}
.swapbuttonlogintext {
  position: relative;
}
.popupswapbuttonlogin {
  position: absolute;
  top: -9px;
  left: calc(50% - 101px);
  border-radius: var(--br-11xl);
  background: linear-gradient(-79.51deg, #33b249, #5dbea3);
  width: 101px;
  height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.swapbuttonregistertext {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-outfit);
  color: var(--color-silver-200);
  text-align: center;
}
.swapbuttonregistertext:hover {
  color: var(--color-lightsteelblue);
}
.popupswapbuttonsignup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  position: absolute;
  top: -9px;
  left: calc(50% - 0px);
  border-radius: var(--br-11xl);
  width: 100px;
  height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.popupswap {
  position: relative;
  width: 293px;
  height: 69px;
  z-index: 0;
}
.popupimgclosebutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  margin: 0 !important;
  top: 10px;
  right: 30px;
  width: 41px;
  height: 41px;
  background-image: url(/public/popupimgclosebutton4@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.alerts {
  color: var(--color-palegreen);
}
.popuptexterrorsTxt {
  line-break: anywhere;
  width: 100%;
}
.popuptexterrors {
  position: absolute;
  top: 10px;
  left: calc(50% - 149.5px);
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 298px;
  height: 46px;
  color: var(--color-salmon);
}
.popuptextlabelusername,
.popuptexttitlelogin {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popuptexttitlelogin {
  top: -44px;
  left: calc(50% - 145px);
  font-size: var(--font-size-29xl);
  width: 281px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
.popuptextlabelusername {
  top: 57px;
  left: calc(50% - 144.5px);
  font-size: var(--font-size-xl);
  width: 289px;
}
.popupheader {
  position: relative;
  width: 296px;
  height: 142px;
  z-index: 2;
}
.popupinputformpassword {
  border: 2px solid var(--color-red);
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  background-color: var(--inputform);
  position: absolute;
  top: 30px;
  left: calc(50% - 142px);
  border-radius: var(--br-11xl);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 283px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
  align-items: center;
  justify-content: center;
}
.popupimghidepassword {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--miscbutton);
  position: absolute;
  top: 32px;
  left: calc(50% + 91px);
  width: 41px;
  height: 41px;
  background-image: url(/public/popupimghidepassword1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.popupinputformusername,
.popuptextlabelpassword {
  position: absolute;
  top: 0;
  left: calc(50% - 111px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
}
.popupinputformusername {
  border: 2px solid var(--color-red);
  font-family: var(--font-outfit);
  font-size: var(--font-size-xl);
  background-color: var(--inputform);
  top: -66px;
  left: calc(50% - 142px);
  border-radius: var(--br-11xl);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.36);
  box-sizing: border-box;
  width: 283px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-16xl);
}
.popupforms {
  position: relative;
  width: 294px;
  height: 76px;
  z-index: 3;
  font-size: var(--font-size-xl);
}
.popupbuttonlogin,
.popupbuttonlogintext {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupbuttonlogintext {
  position: relative;
  font-size: var(--font-size-9xl);
  font-family: var(--font-outfit);
  color: var(--inputform);
  text-align: center;
  width: 120px;
}
.popupbuttonlogin {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-8xs);
  background-color: var(--miscbutton);
  border-radius: var(--br-11xl);
  background: linear-gradient(-79.51deg, #33b249, #5dbea3);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 176px;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 4;
}
.here {
  text-decoration: underline;
  color: var(--color-aqua);
}
.popupanchorforgotpassword,
.popuploginsmall {
  position: relative;
  display: flex;
  align-items: center;
}
.popupanchorforgotpassword {
  font-size: var(--font-size-3xl);
  width: 250px;
  cursor: pointer;
  z-index: 5;
}
.popuploginsmall {
  border-radius: var(--br-81xl);
  width: 310px;
  height: 527px;
  flex-direction: column;
  padding: var(--padding-29xl) var(--padding-6xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-2xs);
  background-image: url(/public/popuploginsmall@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--inputform);
  font-family: var(--font-outfit);
}
.grow {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a grow transition over 0.3 seconds. */
}

/* Apply the grow when hovering over this thing. */
.grow:hover {
  transform: scale(1.1); /* Scale up by 1.1 (10% bigger) on hover */
}

.shrink {
  transform: scale(1);
  transition: transform 0.3s ease; /* Smooth a shrink transition over 0.3 seconds. */
}

/* Apply the shrink when hovering over this thing. */
.shrink:hover {
  transform: scale(0.95); /* Scale down by 0.95 (5% smaller) on hover */
}
